<!DOCTYPE html>
<script src="static/script.js"></script>
<html>
<head>
  <title>Авторизация</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="menu">
  {% include 'menu.html' %}
</div>
  <h1>Место где нужно ввести логин и пароль для получения токена</h1>
  <form id="login-form" onsubmit="submitForm(event)">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password"><br><br>
  </form>
  <button onclick="checkauth()">Передать данные</button><br>
  <div id="result"></div>
</body>
</html>
