<!DOCTYPE html>
<script src="static/script.js"></script>
<html>
<head>
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="menu">
  {% include 'menu.html' %}
</div>
  <h1>Форма создания нового пользователя.</h1>
  <form id="login-form" onsubmit="submitForm(event)">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="password">Повторите пароль:</label>
    <input type="password" id="password_confirm" name="password_confirm"><br><br>
  </form>
  <button onclick="new_user()">Создать пользователя</button><br>
  <div id="result"></div>
</body>
</html>
