<!DOCTYPE html>
<script src="static/script.js"></script>
<html>
<head>
  <title>Бухгалтерия</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="menu">
  {% include 'menu.html' %}
</div>
  <h1>Место где нужно ввести токен для получения информации!</h1>
  <form id="login-form" onsubmit="submitForm(event)">
    <label for="token">Ваш токен:</label>
    <input type="text" id="token" name="token"><br><br>
  </form>
  <button onclick="checkToken()">Передать токен</button>
  <div id="result"></div>
</body>
</html>
